<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemberDetails</title>
    <!--material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_orange.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        .page-content {
            padding-left: 150px;
            padding-right: 50px;
        }

        .errorMessage {
            color: darkred;
        }
    </style>
</head>
<body class="page">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
    <header class="mdl-layout__header mdl-color--accent mdl-color-text--white mdl-shadow--6dp">
        <div class="mdl-layout__header-row">
            <a class="mdl-navigation__link mdl-layout-title" href="/knittingcrew/overview">Knitting Crew</a>
            <div class="mdl-layout-spacer"></div>
            <div class="form-group" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/logout">Logout</a>
                </nav>
            </div>
            <div class="form-group" th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/knittingcrew">Login</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <h3>Member details</h3>
            <form th:object="${member}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="name" th:field="*{name}">
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="errorMessage md-textfield__label" for="name">Error Message</label>
                    <label class="mdl-textfield__label" for="name">Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="fName" th:field="*{familyName}">
                    <label th:if="${#fields.hasErrors('familyName')}" th:errors="*{familyName}"
                           class="errorMessage md-textfield__label" for="fName">Error Message</label>
                    <label class="mdl-textfield__label" for="fName">Last name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="mail" th:field="*{email}">
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                           class="errorMessage md-textfield__label" for="mail">Error Message</label>
                    <label class="mdl-textfield__label" for="mail">Email address</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="street" th:field="*{address.street}">
                    <label th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"
                           class="errorMessage md-textfield__label" for="street">Error Message</label>
                    <label class="mdl-textfield__label" for="street">Street</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="houseN" th:field="*{address.houseNumber}">
                    <label th:if="${#fields.hasErrors('address.houseNumber')}" th:errors="*{address.houseNumber}"
                           class="errorMessage md-textfield__label" for="houseN">Error Message</label>
                    <label class="mdl-textfield__label" for="houseN">Number</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="poBox" th:field="*{address.poBox}">
                    <label th:if="${#fields.hasErrors('address.poBox')}" th:errors="*{address.poBox}"
                           class="errorMessage md-textfield__label" for="poBox">Error Message</label>
                    <label class="mdl-textfield__label" for="poBox">PO Box</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="zip" th:field="*{address.zipCode}">
                    <label th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}"
                           class="errorMessage md-textfield__label" for="zip">Error Message</label>
                    <label class="mdl-textfield__label" for="zip">Zipcode</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="city" th:field="*{address.city}">
                    <label th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"
                           class="errorMessage md-textfield__label" for="city">Error Message</label>
                    <label class="mdl-textfield__label" for="city">City</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="phone" th:field="*{phone}">
                    <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                           class="errorMessage md-textfield__label" for="phone">Error Message</label>
                    <label class="mdl-textfield__label" for="phone">Phonenumber</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="bDate" th:field="*{birthDate}">
                    <label th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"
                           class="errorMessage md-textfield__label" for="bDate">Error Message</label>
                    <label class="mdl-textfield__label" for="bDate">Birthdate</label>
                </div>
                <br>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="roleLabel" disabled>
                    <label th:if="${#fields.hasErrors('knittingCrewRole')}" th:errors="*{knittingCrewRole}"
                           class="errorMessage md-textfield__label" for="roleLabel">Error Message</label>
                    <label class="mdl-textfield__label" for="roleLabel">Role</label>
                    <select id="myselect" name="knittingCrewRole" class="mdl-selectfield__select"
                            th:field="*{knittingCrewRole}">
                        <option th:each="role : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.KnittingCrewRole).values()}"
                                th:text="${role.roleName}" th:value="${role}"></option>
                    </select>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="stitchLabel" disabled>
                    <label th:if="${#fields.hasErrors('knownStitches')}" th:errors="*{knownStitches}"
                           class="errorMessage md-textfield__label" for="stitchLabel">Error Message</label>
                    <label class="mdl-textfield__label" for="stitchLabel">Known stitches</label>
                    <select multiple id="myselect2" name="knittingCrewRole" class="mdl-selectfield__select"
                            th:field="*{knownStitches}">
                        <option th:each="stitch : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.Stitches).values()}"
                                th:text="${stitch}" th:value="${{stitch}}"></option>
                    </select>
                </div>
                <br>
                <button type="submit"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect mdl-color-text--white">
                    <i class="material-icons">save</i> SAVE
                </button>
            </form>
        </div>
    </main>
</div>
</body>
</html>