<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemberDetails</title>
    <!--material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-deep_orange.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        .page {
            padding-left: 50px;
            padding-right: 50px;
        }
    </style>
</head>
<body class="page">
<h3>Member details</h3>
<form th:object="${member}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name" th:field="*{name}">
        <label class="mdl-textfield__label" for="name">Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="fName" th:field="*{familyName}">
        <label class="mdl-textfield__label" for="fName">Last name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="mail" th:field="*{email}">
        <label class="mdl-textfield__label" for="mail">Email address</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="street" th:field="*{address.street}">
        <label class="mdl-textfield__label" for="street">Street</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="houseN" th:field="*{address.houseNumber}">
        <label class="mdl-textfield__label" for="houseN">Number</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="poBox" th:field="*{address.poBox}">
        <label class="mdl-textfield__label" for="poBox">PO Box</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="zip" th:field="*{address.zipCode}">
        <label class="mdl-textfield__label" for="zip">Zipcode</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="city" th:field="*{address.city}">
        <label class="mdl-textfield__label" for="city">City</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="phone" th:field="*{phone}">
        <label class="mdl-textfield__label" for="phone">Phonenumber</label>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="bDate" th:field="*{birthDate}">
        <label class="mdl-textfield__label" for="bDate">Birthdate</label>
    </div>
    <br>
    <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label getmdl-select">
        <input type="text" th:value="${knittingCrewRole}" class="mdl-textfield__input" id="knittingCrewRole" th:field="*{knittingCrewRole}"readonly>
        <input type="hidden" value="" name="knittingCrewRole">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        <label for="knittingCrewRole" class="mdl-textfield__label">Role</label>
        <ul for="knittingCrewRole" class="mdl-menu mdl-menu&#45;&#45;bottom-left mdl-js-menu" >
            <li class="mdl-menu__item" data-val="${role.rol}" th:text="${role.roleName}" th:each="role : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.KnittingCrewRole).values()}">Germany</li>
        </ul>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label getmdl-select getmdl-select__fix-height">
        <input type="text" value="" class="mdl-textfield__input" id="sample6" readonly>
        <input type="hidden" value="" name="sample6">
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        <label for="sample6" class="mdl-textfield__label">Country</label>
        <ul for="sample6" class="mdl-menu mdl-menu&#45;&#45;bottom-left mdl-js-menu">
            <li class="mdl-menu__item" data-val="BY">Belarus</li>
            <li class="mdl-menu__item" data-val="BE" data-selected="true">Belgium</li>
            <li class="mdl-menu__item" data-val="BR">Brazil</li>
            <li class="mdl-menu__item" data-val="ES">Estonia</li>
            <li class="mdl-menu__item" data-val="FI">Finland</li>
            <li class="mdl-menu__item" data-val="FR">France</li>
            <li class="mdl-menu__item" data-val="DE">Germany</li>
            <li class="mdl-menu__item" data-val="PL">Poland</li>
            <li class="mdl-menu__item" data-val="RU">Russia</li>
        </ul>
    </div>-->
    <!--<div class="mdl-selectfield mdl-js-selectfield">
        <select id="myselect" name="myselect" class="mdl-selectfield__select">
            <option value=""></option>
            <option value="option0_value">option 0</option>
            <option value="option1_value">option 1</option>
        </select>
        <label class="mdl-selectfield__label" for="myselect">Choose option</label>
    </div>-->

    <!-- <div class="mdl-selectfield mdl-js-selectfield mdl-textfield&#45;&#45;floating-label">
         <select id="myselect" name="knittingCrewRole" class="mdl-selectfield__select" th:field="*{knittingCrewRole}">
             <option th:each="role : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.KnittingCrewRole).values()}"
                     th:text="${role.roleName}" th:value="${role}"></option>
         </select>
         <label class="mdl-selectfield__label" for="myselect">Role</label>
     </div>-->

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="roleLabel" disabled>
        <label class="mdl-textfield__label" for="roleLabel">Role</label>
        <select id="myselect" name="knittingCrewRole" class="mdl-selectfield__select" th:field="*{knittingCrewRole}">
            <option th:each="role : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.KnittingCrewRole).values()}"
                    th:text="${role.roleName}" th:value="${role}"></option>
        </select>
    </div>
    <br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="stitchLabel" disabled>
        <label class="mdl-textfield__label" for="stitchLabel">Known stitches</label>
        <select multiple id="myselect2" name="knittingCrewRole" class="mdl-selectfield__select" th:field="*{knownStitches}">
            <option th:each="stitch : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.Stitches).values()}"
                    th:text="${stitch}" th:value="${{stitch}}"></option>
        </select>
    </div>


    <!--<select multiple th:field="*{knownStitches}">
        <option th:each="stitch : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.Stitches).values()}"
                th:text="${stitch}" th:value="${{stitch}}"></option>
    </select>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
        <select multiple class="mdl-textfield__input" id="octane" name="octane">
            <option></option>
            <option value="85">85</option>
            <option value="87">87</option>
            <option value="89">89</option>
            <option value="91">91</option>
            <option value="diesel">Diesel</option>
        </select>
        <label class="mdl-textfield__label" for="octane">Octane</label>
    </div>-->
    <input type="submit" value="Save"/>
</form>
<!--<form th:object="${member}" method="post">
    &lt;!&ndash; hidden field for ID value &ndash;&gt;
    <input type="hidden" th:field="*{id}"/>
    <div><b>First name</b></div>
    <input name="name" th:field="*{name}"/>
    <div><b>Last name</b></div>
    <input name="familyName" th:field="*{familyName}"/>
    <div><b>Email</b></div>
    <input name="email" th:field="*{email}"/>
    <div><b>Address</b></div>
    <table>
        <tr>
            <td>Street</td>
            <td><input name="street" th:field="*{address.street}"/></td>
        </tr>
        <tr>
            <td>Number</td>
            <td><input name="houseNumber" th:field="*{address.houseNumber}"/></td>
        </tr>
        <tr>
            <td>P.O. Box</td>
            <td><input name="poBox" th:field="*{address.poBox}"/></td>
        </tr>
        <tr>
            <td>ZipCode</td>
            <td><input name="zipCode" th:field="*{address.zipCode}"/></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input name="city" th:field="*{address.city}"/></td>
        </tr>
    </table>
    <div><b>Phonenumber</b></div>
    <input name="phone" th:field="*{phone}"/>
    <div><b>Birthdate (as dd-mm-yyyy)</b></div>
    <input name="birthDate" th:field="*{birthDate}"/>

    <div><b>Role</b></div>
    <select name="knittingCrewRole" th:field="*{knittingCrewRole}">
        <option th:each="role : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.KnittingCrewRole).values()}"
                th:text="${role.roleName}" th:value="${role}"></option>
    </select>
    <div><b>Known Stitches</b></div>
    <select multiple th:field="*{knownStitches}">
        <option th:each="stitch : ${T(be.lens.syntra.spring.knittingcrewhomepage.model.Stitches).values()}"
                th:text="${stitch}" th:value="${{stitch}}"></option>
    </select>
    <input type="submit" value="Save"/>
</form>-->
</body>
</html>