<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knitting Crew</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<style>
    /*table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table td {
        border-left: 1px solid #000;
    }

    table td:first-child {
        border-left: none;
    }

    table th {
        border-left: 1px solid #000;
    }

    table th:first-child {
        border-left: none;
    }

    table th {
        background: gray
    }

    table tr:nth-child(even) {
        background: lightgray
    }*/
</style>
<body class="mdc-typography">
<h1>Members</h1>
<div>
    <div class="mdc-data-table">
        <table width="100%" class="mdc-data-table__table">
            <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">E-mail</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Role</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Number of known stitches</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Details</th>
            </tr>
            </thead>
            <tbody class="mdc-data-table__content">
            <tr class="mdc-data-table__row" th:each="member : ${#lists.sort(members,sorter)}">
                <td class="mdc-data-table__cell" th:text="${member.name + ' ' + member.familyName}">Name FamilyName</td>
                <td class="mdc-data-table__cell" th:text="${member.email}">Email</td>
                <td class="mdc-data-table__cell" th:text="${member.knittingCrewRole.roleName}">Role</td>
                <td class="mdc-data-table__cell" th:text="${member.knownStitches.size()}">Stitches</td>
                <td class="mdc-data-table__cell"><a href="detail" th:href="@{/knittingcrew/memberDetail/{id} (id=${member.id})}">details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br>
    <form action="/knittingcrew/addMember">
        <!--<button class="mdc-button__label" type="submit" style="float: right">Add</button>-->
        <!--<button class="mdc-button" style="float: right">
            <span class="mdc-button__label" type="submit" >Add</span>
        </button>-->
        <button class="mdc-button mdc-button--raised" type="submit" style="float: right">
            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
            <span class="mdc-button__label">Add</span>
        </button>
        <!--<button class="mdc-fab" aria-label="Add" type="submit" style="float: right">
            <span class="mdc-fab__icon material-icons">add</span>
        </button>-->
    </form>
</div>
</body>
</html>